.game{
    align-items:none;
}

.game h1{
    font-size: 2.5em;
}

.points span {
    font-weight: bold;
    color: rgb(0, 183, 255);
}

.tip span{
    color: #ecfa00;
}

.tip{
    color: rgb(51, 255, 51);
    margin-bottom: 2px;
}

.wordContainer{
    margin:1.5em;
    padding: 1.5em;
    border: 20px solid #6ca80b;
    display: flex;
}

.letterContainer p{
    margin-bottom: 1.2em;
}

.letterContainer form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.letterContainer input {
    height: 50px;
    width: 50px;
    font-size: 2em;
    text-align: center;
    margin-right: 1em;
}

.letter ,.blankSquare{
    font-size: 70px;
    line-height: 1.5;
    border: 3px solid #000;
    width: 100px;
    height: 100px;
    text-transform: uppercase;
    background-color: white;
    color: black;
    font-weight: bold;
}

.attention{
    color: rgb(255, 0, 0);
}

.wrongLettersContainer{
    font-weight: bold;
}

.logo{
    font-size: 3.5em;
    font-weight: bold;
    text-shadow: 4px 4px 4px rgb(102, 100, 12);
    color: yellow;
    text-decoration: none;
}