html, body{
    height: 100%;
}

body{
    background-image: url("./lol.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}

.btn{
    background-color: #0d9714;
    text-decoration: none;
    color: #FFF;
    text-align: center;
    cursor: pointer;
    border-radius: 25px;
    border: 2px solid #fff;
    width: 120px;
    font-weight: bold;
    padding: 10px 15px;
    font-size: 1.1em;
    text-transform: uppercase;
    transition: .4s;
}

.btn:hover{
    background-color:#095c0d;
}